# Binaries for programs and plugins

_.exe
_.exe~
_.dll
_.so
\*.dylib
.idea

# Test binary, build with `go test -c`

\*.test

# Output of the go coverage tool, specifically when used with LiteIDE

\*.out
.env